.ball3 {
    animation: second-animation 2s 2s infinite alternate cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes second-animation {
    0% {
        fill: blue;
        transform: translate(0);
    }
    50% {
        fill: purple;
        transform: translate(50px);
    }
    100% {
        fill: deeppink;
        transform: rotate3d(30deg);
    }
}